.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  flex-basis: 250px;
}

main {
  display: flex;
  flex-grow: 1;
}

aside {
  width: 250px;
}

footer {
  text-align: center;
}