*{
    box-sizing: border-box;
}
.main-nav {
    width: 20vw;
    padding: 0 20px 20px;
    margin-right: 50px;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    padding: 10px 20px;
    transition: .3s;
}

.main-nav a:hover {

    transform: translateX(20px);
}

.main-nav a.active {
    color: #777;
    border-left: 10px solid gray;
    transform: translateX(0);
}

.main-nav li:nth-child(1) a.active {
    border-left-color: green;
}
.main-nav li:nth-child(2) a.active {
    border-left-color: blue;
}
.main-nav li:nth-child(3) a.active {
    border-left-color: orange;
}
.main-nav li:nth-child(4) a.active {
    border-left-color: red;
}